/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 7, 2022, 9:25:43 AM
    Author     : AMCG_
*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
body{
    min-height: 70vh;
    background-color:#202020 !important;
}
.container-fluid{
    font-size: 16px;
    font-weight: 100;
    font-family: 'Kanit', sans-serif;
    color:#967d0b !important;
}

.navbar{
    background: black !important;
}

.nav navbar-nav{
     background-color:white !important;
    
}

.container{
    height:100%;
    width:100%;
    /* background-position:center;*/
    padding-left:5%;
    padding-right: 5%;
    box-sizing: border-box;
    position:relative;

}
content{
    position: relative;
    height: 50%;
}

.content h1{
    font-size: 30px;
    font-weight: 100;
    font-family: 'Kanit', sans-serif;
    margin-top:24px;
    margin-bottom: 15px;
    color:white;
}

.content p{
    color:gray;
}
.logo{
    width:200px;
    cursor:pointer;
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    color:white;

}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}
footer{
    height:20vh;
    width:100vw;
    background-color:black;
    text-decoration: none;
    color:white;
    font-size: 25px;
    padding-top: 50px;
    font-family: 'Kanit', sans-serif;

}
.logofooter{
    width:auto;
    cursor:pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:80px;
    padding:10px;
}

.redescontainer{
    width: 500px;
    cursor:pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.redes{
    width:32px;
    cursor:pointer;    
}

* {
  box-sizing: border-box;
  margin: 0;
}

.movie_card {
  position: relative;
  display: block;
  width: 80%;
  margin: 30px auto;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.4s;
}

.movie_card:hover {
  transform: scale(1.02);
  transition: all 0.4s;
}
.movie_card .info_section {
  position: relative;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  z-index: 2;
  border-radius: 10px;
}
.movie_card .info_section .movie_header {
  position: relative;
  padding: 25px;
  height: 40%;
}
.movie_card .info_section .movie_header h1 {
  color: #fff;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
  font-size: 28px;
}
.movie_card .info_section .movie_header h4 {
  color: #9ac7fa;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
  font-size: 14px;
}
.movie_card .info_section .movie_header .minutes {
  display: inline-block;
  margin-top: 10px;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  border: 1px solid rgba(255, 255, 255, 0.13);
}
.movie_card .info_section .movie_header .type {
  display: inline-block;
  color: #cee4fd;
  margin-left: 10px;
  font-size: 14px;
}
.movie_card .info_section .movie_header .locandina {
  position: relative;
  float: left;
  margin-right: 20px;
  height: 120px;
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
}
.movie_card .info_section .movie_desc {
  padding: 25px;
  height: 50%;
}
.movie_card .info_section .movie_desc .text {
  color: #cfd6e1;
  font-size: 14px;
}
.movie_card .info_section .movie_social {
  height: 10%;
  padding-left: 15px;
  padding-bottom: 20px;
}
.movie_card .info_section .movie_social ul {
  list-style: none;
  padding: 0;
}
.movie_card .info_section .movie_social ul li {
  display: inline-block;
  color: rgba(255, 255, 255, 0.4);
  transition: color 0.3s;
  transition-delay: 0.15s;
  margin: 0 10px;
}
.movie_card .info_section .movie_social ul li:hover {
  transition: color 0.3s;
  color: rgba(255, 255, 255, 0.8);
}
.movie_card .info_section .movie_social ul li i {
  font-size: 19px;
  cursor: pointer;
}
.movie_card .blur_back {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  right: 0;
  background-size: cover;
  border-radius: 11px;
}

@media screen and (min-width: 1200px) {
  .movie_header {
    width: 60%;
  }

  .movie_desc {
    width: 50%;
  }

  .info_section {
    background: linear-gradient(to right, #0d0d0c 50%, transparent 100%);
  }

  .blur_back {
    width: 56%;
    background-position: -100% 0% !important;
  }
}
@media screen and (max-width: 1200px) {
  .movie_card {
    width: 95%;
    margin: 70px auto;
    min-height: 350px;
    height: auto;
  }

  .blur_back {
    width: 100%;
    background-position: 50% 0% !important;
  }

  .movie_header {
    width: 100%;
    margin-top: 85px;
  }

  .movie_desc {
    width: 100%;
  }

  .info_section {
    background: linear-gradient(to top, #141413 50%, transparent 100%);
    display: inline-grid;
  }
}
#bright {
  box-shadow: 0px 0px 30px -10px rgba(53, 148, 208, 0.5);
}
#bright:hover {
  box-shadow: 0px 0px 30px -10px rgba(211, 175,96, 0.5);
}

.bright_back {
  background-size: cover;
}
