/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 7, 2022, 9:25:32 AM
    Author     : AMCG_
*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

body{
    height:100vh;
    width:100vw;
    background-color:#202020 !important;

}

.logo{
    width:200px;
    cursor:pointer;
}

.navbar{
    background: black !important;
}


.container-fluid{
    font-size: 16px;
    font-weight: 100;
    font-family: 'Kanit', sans-serif;
    color:#967d0b !important;
}




.content{
    position: relative;
}

.content h1{
    font-size: 45px;
    font-weight: 100;
    font-family: 'Kanit', sans-serif;
    margin-top:24px;
    margin-bottom: 15px;
    color:white;
}
.text-shadow{
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.drk:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.3;
    z-index: 1;
}

.carousel-indicators{
    z-index: 999 !important;
}
.carousel-caption {
    z-index: 2;
}

.trailer{
    font-size: 30px;
    color:orange;

}

.imagen{
    height:auto;
    width:100%;

}

.iframe{
    height:600px;
    width:100%;

}

footer{
    height:20vh;
    width:100vw;
    background-color:black;
    text-decoration: none;
    color:white;
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
}
.logofooter{
    width:auto;
    cursor:pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:80px;
    padding:10px;
}

.redescontainer{
    width: 500px;
    cursor:pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.redes{
    width:32px;
    cursor:pointer;
}


/*
  position: absolute;
    bottom:50px;
    right:160px;
*/



