/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 8 jun. 2022, 13:02:44
    Author     : luisc
*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

body{
    height:100vh;
    width:100vw;
    background-color:black !important;
}

.container-fluid{
    font-size: 16px;
    font-weight: 100;
    font-family: 'Kanit', sans-serif;
    color:#967d0b !important;
}
.nav navbar-nav{
     background-color:white !important;
    
}

.container{
    background-position:center;
    background-size: cover;
    padding-left:5%;
    padding-right: 5%;
    box-sizing: border-box;
    position:relative;

}

.logo{
    width:200px;
    cursor:pointer;
}

.Jurassic {
    background-image: url(../images/4907157.jpg);
    width: 300px;
    height: 200px;
    cursor: pointer;
}
.exorsista {
    background-image: url(../images/4907157.jpg);
    width: 300px;
    height: 200px;
    cursor: pointer;
}

.Luca {
    background-image: url(../images/4907157.jpg);
    width: 300px;
    height: 200px;
    cursor: pointer;
}

.Rocky {
    background-image: url(../images/4907157.jpg);
    width: 300px;
    height: 200px;
    cursor: pointer;
}

.Toy {
    background-image: url(../images/4907157.jpg);
    width: 300px;
    height: 200px;
    cursor: pointer;
}

.Avatar {
    background-image: url(../images/4907157.jpg);
    width: 300px;
    height: 200px;
    cursor: pointer;
}

.Estreno1 {
    position: static;
    text-decoration: none;
    color: tomato;
    margin: 20px -150px;
}

.Estreno2 {
    position: static;
    text-decoration: none;
    color: tomato;
    margin: -250px 200px;
}

.Estreno3 {
    position: static;
    text-decoration: none;
    color: tomato;
    margin: 20px 550px;
}

.Estreno4 {
    position: static;
    text-decoration: none;
    color: tomato;
    margin: 50px -150px;
}

.Estreno5 {
    position: static;
    text-decoration: none;
    color: tomato;
    margin: -280px 200px;
}

.Estreno6 {
    position: static;
    text-decoration: none;
    color: tomato;
    margin: 50px 550px;
}

footer{
    height:20vh;
    width:100vw;
    background-color:black;
    text-decoration: none;
    color:white;
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
}
.logofooter{
    width:auto;
    cursor:pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:80px;
    padding:10px;
}

.redescontainer{
    width: 500px;
    cursor:pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.redes{
    width:32px;
    cursor:pointer;    
}



