<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Home</title>
        <link rel ="stylesheet" th:href="@{css/index.css}">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img th:src="@{/images/main_logo.png}" class='logo' alt="Este es mi logo"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item" ><a class="nav-link active" href="/" th:text="#{plantilla.home}"/></li>
                        <li class="nav-item"><a class="nav-link" href="/cartelera"th:text="#{plantilla.cartelera}"/></li>
                        <li class="nav-item"><a class="nav-link" href="/proximos_Estrenos"th:text="#{plantilla.proximos_estrenos}"/></li>
                        <li class="nav-item"><a class="nav-link" href="/salas_Formatos" th:text="#{plantilla.salas_formatos}"/></li>
                        <li sec:authorize="isAnonymous()" class="nav-item"><a class="nav-link" href="/login" th:text="#{plantilla.iniciar_sesion}"></a></li>
                        <li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link" th:href="@{/logout}" th:text="#{plantilla.cerrar_sesion}"><i class="fa-solid fa-lock"></i></a></li>
                        <li sec:authorize="hasRole('ROLE_Admin')" class="nav-item"><a class="nav-link" th:href="@{/admin/cartelera}">Admin</a></li>
                    <li class="nav-item"> 
                            <a class="nav-link" th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                               th:href="${urlBuilder.replaceQueryParam('lang','es').toUriString()}">ES</a>
                        </li>
                        <li class="nav-item"> 
                            <a class="nav-link" th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                               th:href="${urlBuilder.replaceQueryParam('lang','en').toUriString()}">EN</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
        <div id="carouselHome" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button th:each="slide, info : ${carousel}" type="button" data-bs-target="#carouselHome" th:data-bs-slide-to="${info.index}" th:class="${info.index == 0}? 'active'" aria-current="true" th:aria-label="${'Slide '+info.index}"></button>
            </div>
            <div class="carousel-inner">
                <div th:each="slide, info : ${carousel}" th:class="${info.index == 0}? 'carousel-item drk active' : 'carousel-item drk'" class="carousel-item active" data-bs-interval="9000">
                    <img th:src="${slide.getPeliculas.getImagenBack}" class="d-block w-100" alt="..."> 
                    <div class="carousel-caption d-none d-md-block text-start">
                        <h2  class="text-shadow" th:text="${slide.getPeliculas.getPelicula}"/>
                        <h4 class="text-shadow" th:text="${slide.getPeliculas.getYear}+ ', '+ ${slide.getPeliculas.getActores}"></h4>
                        <a href="cartelera" class="btn btn-dark">Compra tu entrada</a>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselHome" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselHome" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class='container'>
            <!-- este div es nuestro contenedor general -->
            <!-- este div es nuestra barra de navegacion  -->

            <div class='content'>
                <!-- este es nuestro contenido -->
                <!-- br = break=realizar un salto de linea -->


                <h1>Preventa disponible <br> No te lo pierdas </h1>
                <p>Compra tus entradas</p>

                <img src="images/doctorstrange.jpg" class='imagen' alt="Mi imagen"/>
                <iframe class="iframe" src="https://www.youtube.com/embed/D9AzGVmMVpk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

    </body>
    <footer>
        <div class="redescontainer"><a th:text="#{plantilla.siguenos}"/> <img src="images/facebook.png" class='redes' alt="Este es mi logo"/> <img src="images/instagram.png" class='redes' alt="Este es mi logo"/></div>

        <img src="images/LOGO 2 CINE.png" class='logofooter' alt="Este es mi logo"/>

    </footer>
</html>
